<p id="notice"><%= notice %></p>

<h1>Listing Chassis</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chassis.each do |chassi| %>
      <tr>
        <td><%= link_to 'Show', chassi %></td>
        <td><%= link_to 'Edit', edit_chassi_path(chassi) %></td>
        <td><%= link_to 'Destroy', chassi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chassi', new_chassi_path %>
