<p id="notice"><%= notice %></p>

<h1>Listing Chasses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chasses.each do |chass| %>
      <tr>
        <td><%= link_to 'Show', chass %></td>
        <td><%= link_to 'Edit', edit_chass_path(chass) %></td>
        <td><%= link_to 'Destroy', chass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chassis', new_chass_path %>
