%p#notice
  = notice

%h2
  Listing Matches
%h1
%br
= link_to 'New Match', new_match_path
%br
%br

- @matches.each do |match|
  = link_to match do
    = image_tag match.screenshot.image.thumbnail.url
  %br
  = link_to 'Show', match
  |
  = link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' }

%br
%br
